[data-aos="loader-animation"] {  
    &.aos-animate {
        opacity: 0;
        // top: -110%;
    }
}

[data-aos="experience-box-animation"] {
    &::after {
        content: '';
        height: 100%;
        width: 4%;
        background-color: $optional-color-two;
        position: absolute;
        right: 100%;
        bottom: 0;
        top: 0;
        opacity: 0;
        @include transition-ease;
    }

    &.aos-animate::after {
        opacity: 1;
        right: 97%;
    }

    @include media-lg {
        &::after {

        }

        &.aos-animate::after {
            opacity: 0;
        }
    }
}

[data-aos="arrow-animation"] {
    &::before {
        content: '';
        position:absolute;
        width: 10%;
        right: 100%;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 20px solid $optional-color-two;
        opacity: 0;
        @include transition-ease;
    }

    &.aos-animate::before {
        opacity: 1;
        right: 88%;       
    }

    @include media-lg {

        &.aos-animate::before {
            opacity: 0;
        }
    }
}