@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* colors */
//https://coolors.co/def2c8-c5dac1-bcd0c7-a9b2ac-898980

$primary-color: #353531; //898980
$secondary-color: #242422; // A9B2AC
$tertiary-color: rgba(146, 205, 244, 0.2);;
$optional-color-one: rgba(36, 36, 34, 0.4); // C5DAC1
$optional-color-two: #92CDF4; // 

/* fonts */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Inter', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-xs {
    // Medium devices (landscape tablets, 768px and up)
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin media-md {
    // Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    // Large devices (laptops/desktops, 1024px and up)
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    // Extra large devices (large laptops and desktops, 1600px and up)
    @media only screen and (min-width: 1600px) {
        @content;
    }
}
