.experience {

    .box {
        position: relative;
        overflow: hidden;
    }

    &__heading {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 2em;
        padding-bottom: 1rem;
    }

    &__item {
        margin-bottom: 1rem;
        h3 {
            margin-bottom: 0.5rem;
        }
        
        p {
            padding: 1rem;
            span {
                font-weight: 700;
            }
        }
    }

    &__company {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}