.profile {


    .image-border {
        margin: 1rem auto;
        width: 14.8rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        opacity: .9
    }

    &__intro {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        
        span {
            color: $secondary-color;
            background-color: $optional-color-two;
            border-radius: 4px;
            padding: .1rem;
            letter-spacing: 0;
        }
    }


    &__message {
        font-size: 1.2rem;

        span {
            color: $optional-color-two;
            text-decoration: underline;
        }
    }

    &__social-media {
        display: none;
    }

    &__social-media ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.2rem;
    }

    &__social-media ul li {
        font-size: 2.2rem;
    }

    &__social-media ul li:not(:last-child) {
        margin-right: 1.6rem;
    }

    &__social-media ul li a {
        text-decoration: none;
        color: $optional-color-two;
    }

}