.profile {

    .box {
        p {
            font-size: 1.4rem;
        }
    }

    &__img {
        margin: 0 auto;
        width: 10rem;
        height: 10rem;
        background-color: green;
        border-radius: 44px;
        margin-bottom: 2rem;
    }

    &__intro {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        span {
            color: $secondary-color;
            background-color: $optional-color-two;
            border-radius: 4px;
            padding: .1rem;
            letter-spacing: 0;
        }
    }

    &__social-media ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.2rem;
    }

    &__social-media ul li {
        font-size: 2.2rem;
    }

    &__social-media ul li:not(:last-child) {
        margin-right: 1.6rem;
    }

    &__social-media ul li a {
        text-decoration: none;
        color: $optional-color-two;
    }

}