.skills {
    &__box {
        background-color: $secondary-color;
        padding: 1rem 2rem;
        border-radius: 1rem;        
    }

    &__heading {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 3em;
        padding-bottom: 1rem;
    }

    &__category {
        margin-bottom: 1.5rem;
    }

    &__title {
        text-align: center;
        font-size: 1.6rem;
    }

    &__item {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0.6rem;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;

        p {
            font-weight: 500;
            font-size: 1.3rem;
            margin-left: 1rem;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position:absolute;
            background-color: $optional-color-two;
            top: 0;
            bottom: 0;
            right: 100%;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                right: 0;
                opacity: 1;
                z-index: -1;
            }

            p {
                color: $secondary-color;
            }
        }
    }

}