@import 'config';
@import 'aos';
@import 'menu';
@import 'blog';
@import 'profile';
@import 'skills';
@import 'experience';
@import 'projects';
@import 'responsive';

body {
    background-color: #000;
    font-family: $primary-font;
    letter-spacing: 2px;
}

section {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    color: $optional-color-two;
}

.header {
    position: fixed;
    width: 26rem;
    height: 100%;
    background: $primary-color;
    right: -26rem;
}

.header.open {
    right: 0rem;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.box {
    background-color: $optional-color-one;
    padding: 1rem 2rem;
}


.footer {
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0;
    color: #fff;
    background-color: #252523;
}