@import 'config';
@import 'aos';
@import 'loader';
@import 'menu';
@import 'blog';
@import 'profile';
@import 'skills';
@import 'experience';
@import 'projects';
@import 'responsive';

body {
    background: #252525;
    font-family: $primary-font;
    letter-spacing: 2px;
    overflow: hidden;
}

section {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    color: hsla(0,0%,100%,.85);
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.box {
    padding: 1rem 2rem;
}

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    color: #fff;
    background-color: #252523;

    p {
        text-align: center;
    }
}

.highlight {
    font-weight: 900;
    color: $optional-color-two;
}

.inactive {
    opacity: 0.2;
}

.enlarge {
    transform: scale(1.3);
    color: $optional-color-two;
}